* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  background-color: rgba(238, 236, 232, 0.8);
}

header {
  position: sticky;
  top: 0;
}
header .navbar {
  padding: 0;
}
header .navbar .navegador {
  background-color: #e6ddcc;
  min-height: 110px;
  display: flex;
  flex-direction: column;
}
header .navbar .logo {
  height: 65px;
  margin-top: 20px;
}
header .navbar .items {
  font-size: 25px;
  font-weight: 400;
}

/* inicio */
.inicioPersonal {
  height: 450px;
  background-image: url(../multimedia/gym-595597_640.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 150px;
  margin-bottom: 20px;
}
.inicioPersonal .inicioTitulo {
  border: solid;
  background-color: rgba(255, 255, 255, 0.8980392157);
  padding: 5px;
  font-style: italic;
}

.presentacion {
  border: solid #e6ddcc;
  margin: 30px;
  padding: 15px;
  background-color: #ffffff;
}
.presentacion h2 {
  padding-bottom: 15px;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
}
.presentacion a {
  padding-bottom: 15px;
  color: #000000;
  font-weight: bold;
}
.presentacion a:hover {
  color: #c5a25c;
}
.presentacion .presentacionParrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
}
.presentacion .presentacionFoto {
  height: auto;
  width: 100%;
}

.barra {
  background-image: url(../multimedia/dumbbell-1966247_640.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  margin: 45px 0px 30px;
}
.barra h3 {
  font-size: 30px;
}
.barra p {
  font-size: 25px;
}
.barra a {
  color: #ffffff;
  font-size: 20px;
}
.barra a:hover {
  color: #c5a25c;
}

.testimonio {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: transform 1s;
}
.testimonio .testimonioBox {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4509803922);
  background-color: #e6ddcc;
  text-align: center;
  margin-block: 20px;
}

.testimonio:hover {
  transform: scale(1.1);
}

/* servicios */
.servicios {
  text-align: center;
  padding: 20px;
}

.bloques {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 350px);
  gap: 20px;
  padding-bottom: 30px;
  font-style: italic;
}
.bloques .bloqueUno,
.bloques .bloqueDos,
.bloques .bloqueTres {
  border: solid #e6ddcc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-inline: 8px;
  background-color: #ffffff;
}
.bloques .bloqueUno .bloqueTitulo,
.bloques .bloqueDos .bloqueTitulo,
.bloques .bloqueTres .bloqueTitulo {
  font-weight: bold;
  padding-top: 10px;
}
.bloques .bloqueUno .bloqueBoton,
.bloques .bloqueDos .bloqueBoton,
.bloques .bloqueTres .bloqueBoton {
  color: #000000;
  font-weight: bold;
}
.bloques .bloqueUno a:hover,
.bloques .bloqueDos a:hover,
.bloques .bloqueTres a:hover {
  color: #c5a25c;
}
.bloques .bloqueUno .bloqueImg,
.bloques .bloqueDos .bloqueImg,
.bloques .bloqueTres .bloqueImg {
  height: 200px;
  max-width: 100%;
}

/* nosotros */
.nos {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
}
.nos .nosotros {
  text-align: center;
  align-self: center;
}
.nos .nosotros h3 {
  margin: 10px;
}

.chico,
.chica {
  height: 200px;
  width: 100%;
  padding: 5px;
  border-radius: 20px;
  transition: transform 1s;
}

.chico:hover {
  transform: scale(1.05);
}

.chica:hover {
  transform: scale(1.05);
}

/* blog  */
.blog {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.blog h2 {
  margin: 20px;
}
.blog p {
  margin-inline: 30px;
}

.movilidad,
.cuerpoLibre,
.mancuernas,
.maquinas {
  border: solid #e6ddcc;
  margin: 10px;
  padding: 10px;
  align-items: center;
  background-color: #ffffff;
  font-style: italic;
}
.movilidad .blogIzquierda,
.movilidad .blogDerecha,
.cuerpoLibre .blogIzquierda,
.cuerpoLibre .blogDerecha,
.mancuernas .blogIzquierda,
.mancuernas .blogDerecha,
.maquinas .blogIzquierda,
.maquinas .blogDerecha {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-self: center;
}

/* contacto */
.contacto {
  padding: 20px 0px 0px 0px;
  text-align: center;
}

.formulario {
  padding: 20px 20px 0px 20px;
}
.formulario .formularioIzquierda {
  align-self: center;
  text-align: center;
}
.formulario .completar {
  padding-block: 5px;
  display: flex;
  flex-direction: column;
}

.mapa {
  padding: 40px;
  margin-inline: 0;
}
.mapa iframe {
  width: 100%;
}

/* footer */
footer {
  background-color: #e6ddcc;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
}
footer p {
  margin-bottom: 0;
}
footer a {
  color: #000000;
  font-size: 40px;
  margin-inline: 10px;
}

@media only screen and (max-width: 578px) {
  /* inicio */
  .container-fluid {
    display: flex;
    flex-direction: row;
  }
  .items {
    font-size: 20px;
  }
  .sol {
    padding-bottom: 20px;
  }
  /* blog */
  .blog {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  /* contacto */
  .formulario {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 760px) {
  /* servicios */
  .bloques {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 350px);
    gap: 15px;
  }
  .bloqueUno {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .bloqueDos {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .bloqueTres {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  /* contacto */
  .formulario,
  .mapa {
    padding-inline: 100px;
  }
}
@media only screen and (min-width: 1000px) {
  .testimonio {
    padding-bottom: 25px;
  }
  /* servicios */
  .bloques {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px;
    gap: 15px;
  }
  .bloqueUno {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .bloqueDos {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .bloqueTres {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  /* contacto */
  .formulario,
  .mapa {
    padding-inline: 150px;
  }
}/*# sourceMappingURL=style.css.map */